.notice-background{

  background-color: #f5f5f5 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.create-noticecreate-background{

  background-color: #f5f5f5 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}

.admin-notice-background{

  background-color: #f5f5f5 !important;
  padding-top: 20px;
  padding-bottom: 20px;
}



.topic {
    font-weight: 600;
    padding-top: 50px;
    font-weight: 300;
    text-align: center;
  }


.btn_style{
width:50px;
  }

 
/* .container-fluid-di {
    background-color: #f5f5f5;
    width: 60%;
} */
.tb-style{
  color: #263238;
  /* padding-bottom:50px; */
}


/* NoticeView */

.crd_notice-tittle-div{
  background-color: #263238;
  height: 26px;
}

/* .notice_crd{
  margin: 0px;
  margin-bottom: 20px;
} */

.crd_notice-name{
    margin-left :16px;
    margin-top: 5px;
    color: 	#FFFFFF;
    font-family: roboto, sans;
    font-size: 16px;
    font-weight: 500;
}

.crd_projects-name{ 
  margin-top: 8px;
  color: 	#FFFFFF;
  font-family: roboto, sans;
  font-size: 12px;
  font-weight: 400;
}
.crd_notice-name-project{
  margin-top: 8px;
  color:#080808;
  font-family: roboto, sans;
  font-size: 16px;
  font-weight: 400;
}
.crd_date{
  font-size: 12px;
  margin-left :14px;
  font-weight: 350;
  font-family: roboto, sans;
  color: 	#FFFFFF;

}
.crd_user-name-div{
  background-color:  #263238;
  height: 20px;
}

.crd_notice-date{
  font-size:12px;
  margin-top:1px;
  font-weight: 350;
  font-family: roboto, sans;
  color: 	#FFFFFF;

}
.crd_btn-row{
  text-align:right;
  
}

.delete-btn {
  color: rgb(207, 207, 207);
  padding-right: 5px;
}

.delete-btn:hover {
  color: rgb(214, 0, 0);
  transition: 0.5s;
  cursor: pointer;
}

.reg-error{
  color: red;
  font-size: 10px;
}


@media screen and (max-width: 500px) {

  .crd_notice-tittle-div{
    background-color: #263238;
    height:35px;
  }

  .crd_user-name-div{
    background-color:  #263238;
    height: 20px;
  }

  .crd_date{
  font-size:8px;
  margin-left :14px;
  font-weight: 350;
  font-family: roboto, sans;
  color: 	#FFFFFF;
}
.crd_notice-name{
  margin-left :16px;
  margin-top: 5px;
  color: 	#FFFFFF;
  font-family: roboto, sans;
  font-size: 8px;
  font-weight: 500;
}

.crd_projects-name{
  
  margin-top: 8px;
  color: 	#FFFFFF;
  font-family: roboto, sans;
  font-size: 6px;
  font-weight: 400;
}
.crd_notice-name-project{
  margin-top: 8px;
  color: 	#FFFFFF;
  font-family: roboto, sans;
  font-size: 13px;
  font-weight: 400;
}

.crd_notice-date{
  font-size:8px;
  margin-top:6px;
  font-weight: 350;
  font-family: roboto, sans;
  color: 	#FFFFFF;

}

}
