.side-row-div{
    margin-left: -30px;
    width:133%;
    height: 50px;
    background-color: #1c2431;
    cursor: pointer;
}

.side-row-div:hover{
    background-color: #2a364b;
    transition: 0.5s;
}


.side-icn{
    margin-top: 15px;
    color: #e8e7ff;
    margin-left: 10px;
}

.side-txt{
    margin-left: -10px;
    padding-top: 15px;
    color: #e8e7ff;
}