.form-groups-css{
  min-height: 700px;
  background-color: #F5F5F5;
  padding: 30px 0px;

  .project-detail-card-div{
    padding: 0% 30%;
  }

  .project-detail-card{
    margin: 0px;
  }

  .main-title{
    text-align: center;
    margin-bottom: 20px;
  }

  .title{
    margin-bottom: 20px;
  }

  .group-form-card-div{
  }

  .group-form-card{
    padding: 20px 30px;
  }

  .btn-div{
    text-align: center;
    margin: 10px 0px 20px 0px;
  }

  .my-btn1{
    width: 40%;
  }

  .border-span{
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .error-div{
    color: red;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-control-div{
    padding: 10px 10%;
    margin-bottom: 20px;
  }

  @media only screen and  (max-width: 767px){
    .project-detail-card-body{
      padding: 0% 4%;
    }
  }

}