.form-groups-css{
  min-height: 700px;
  background-color: #F5F5F5;
  padding: 50px 0px;

  .project-detail-card-body{
    padding: 0% 30%;
  }

  .project-detail-card{
    margin: 0px;
  }

  .title{
    text-align: center;
    margin-bottom: 20px;
  }
}