.home-div {
  background: linear-gradient(rgba(0, 162, 255, 0.11), rgba(0, 38, 255, 0.055)),
    url("../../assets/backgrounds/froet-gas-195389_1920.jpg");
  height: 740px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.login-btn {
  width: 50%;
  margin-left: 20px;
}

.logn-card-div {
  background-color: rgb(215, 219, 223);
}
