.login-card {
    width: 50%;
    margin: auto;
}
.login-card-div {
    margin-top: 70px;
}

.login-btn {
    margin: auto;
    width: 100%;
    background-color: blue;
}

.forgot-password-btn {
    margin: auto;
    font-size: 15px;
}
.logo {
    padding-top: 50px;
    text-align: center;
    margin-left: 175px;
    width: 30%;
    margin-bottom: 20px;
}
.logo {
    padding-top: 50px;
    text-align: center;
    margin-left: 175px;
    width: 30%;
    margin-bottom: 20px;
}

.btnOne {
    background-color: rgb(29, 38, 54);
    border: 4px solid;
    border-radius: 4px;
    width: 95%;
    margin: auto;
}
.btnOne:hover {
    background-color: #26323865;
    cursor: pointer;
}
.btnTwo {
    background-color: #1c2331;
    /* height: 45px; */
    width: 95%;
    border-radius: 4px;
    margin: auto;
    margin: auto;
}
.btnTwo:hover {
    cursor: pointer;
}
