/* body {
  background-image: require('../../assets/backgrounds/background.jpg');
} */

.login-card {
  width: 50%;
  margin: auto;
  padding: 50px;
}
.login-card-div {
  margin-top: 70px;
}

.login-btn {
  margin: auto;
  width: 100%;
  background-color: blue;
}

.forgot-password-btn {
  margin: auto;
  font-size: 15px;
}
.logo {
  padding-top: 10px;
  text-align: center;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.btnOne {
  background-color: rgb(43, 56, 80);
  height: 45px;
  /* margin-left: 40px; */
  border-radius: 4px;
  width: 95%;
  margin: auto;
  /* margin-right: -40px; */
}
.btnOne:hover {
  background-color: rgb(151, 151, 151);
  cursor: pointer;
}
.btnTwo {
  background-color: #1c2331;
  height: 45px;
  width: 95%;
  border-radius: 4px;
  margin: auto;
  margin: auto;
}
.btnTwo:hover {
  background-color: rgb(151, 151, 151);
  cursor: pointer;
}
.text-btn {
  margin: auto;
  color: white;
}
