.container-fluid-div {
  background-color: #f5f5f5;
}

.cp-text {
  color: rgb(129, 129, 129);
}
.card-div-1 {
  margin: auto;
  margin-top: 50px !important;
  margin-bottom: 50px  !important;
  width: 70%;
  padding: 30px 60px;
}

.card-div-2 {
  margin: auto;
  margin-bottom: 50px  !important;
  width: 90%;
  padding: 30px 60px;
}

.verticle-align-middle {
  vertical-align: middle;
}

.text-align-center{
  text-align: center;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-20 {
  margin-bottom: 10px;
}

.form-control-label {
  font-size: 5px;
}

.td-font-14{
  font-size:14px
}

.table-row:hover{
  background-color:#F5F5F5;
  cursor: pointer;
}

.col-padding-5{
  padding: 0px 5px !important;
}
