.image {
    margin-left: -20px;
    width: 107%;
    min-height: 50%;
}
.topic {
    margin-left: 20px;
    text-align: left;
    margin-top: 50px;
}

.main-div{
    background-color: rgb(252, 252, 252);
    height: 500px;
}

.text-label{
    color: #6d6d6d;
}

