.sh-project-name-hs {
  font-size: 26px;
  color: #5c5c5c;
  margin-top: 20px;
  font-weight: 500;
}

/* Student Project Data */
.sh-fullpage {
  background-color: #fcfcfc;
  min-height: 730px;
}

.sh-big-card {
  margin-top: 0px;
}
.sh-topic {
  color: #444444;
  font-size: 28px;
  font-weight: 500;
  font-family: roboto, sans;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -20px;
}
.sh-topic2 {
  color: #3b3b3b;
  font-size: 28px;
  font-weight: 500;
  font-family: roboto, sans;
  margin-left: 20px;
  margin-top: 20px;
}
.sh-proj-card {
  margin-top: 0px;
  margin-bottom: 15px;
}
.sh-proj-card:hover {
  margin-top: 10px;
  background-color: rgba(231, 231, 231, 0.76);
  cursor: pointer;
  transition: 0.5s;
}
/* Student Project Card  */
.shpc-topic-div {
  background-color: #263238;
  margin-bottom: 20px;
}
.sh-topic-div {
  background-color: rgb(236, 236, 236);
  margin-bottom: 20px;
}
.shpc-progress {
  margin: auto;
  /* height: 200px; */
}

.shpc-topic {
  text-align: center;
  color: #f8f8f8;
  font-size: 22px;
  font-weight: 500;
  font-family: roboto, sans;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.shpc-head {
  color: #444444;
  font-size: 20px;
  font-weight: 500;
  font-family: roboto, sans;
  margin-left: 20px;
  margin-top: 10px;
}

.shpc-list {
  color: #616161;
  font-size: 16px;
  /* font-weight: 400; */
  font-family: roboto, sans;
  margin-left: 40px;
  /* margin-top: 20px; */
}

.card-row-sh {
  margin-left: 200px;
  min-height: 500px;
  margin-bottom: 20px;
}

.sh-no-groups-tag {
  color: #6b6b6b;
  font-size: 16px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
