.login-card{
    width: 50%;
    margin: auto;
}
.login-card-div{
    margin-top: 70px;
}

.login-btn{
    margin: auto;
    width: 100%;
    background-color: blue;
}

.forgot-password-btn{
    margin: auto;
    font-size: 15px;
}
.logo{
    padding-top: 50px;
    text-align: center;
    margin-left: 175px;
    width: 30%;
    margin-bottom: 20px;
}