.main-div{
    height: 1000px;
}
.reg-card{
    padding-top: 50px;
    
}

.list-card{
    margin-top: 50px;
    
}
.fuel-selector{
    margin-top: 24px;
}

.reg-btn{
    width: 95%;
    height: 38px;
}
/**************************************/

.card-content{
    margin-top: 50px;
    margin-bottom: 50px;

}