.as-dropdown-select{
    margin-top : 19px;
}

.as-container-div {
    min-height: 530px;
    margin-bottom: 40px;
}

.as-dropdown-select {
    margin-top: 20px;
    margin-bottom: 40px;
}

.as-reg-head {
    color: rgb(75, 75, 75);
    font-weight: 500;
    font-family: roboto, sans;
    font-size: 2em;
    margin-top: 40px;
}

.as-details-head {
    color: rgb(75, 75, 75);
    font-weight: 500;
    font-family: roboto, sans;
    font-size: 1.5em;
    margin-top: 10px;
}

.as-table-row:hover {
    cursor: pointer;
    background-color: #fff;
}

.spinner {
    margin: auto;
}

.as-btn {
    width: 100%;
    margin-top: 20px;
}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 500px) {
    .as-dropdown-select {
        width: 100%;
    }
    .as-btn {
        width: 100%;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .as-reg-head{
        font-size: 30px;
        padding-top: 20px;
        text-align: center;
    }

    .as-table{
        width: 100%;
        margin-top: 20px;
    }
    td:nth-of-type(1):before { content: "Group : "; }
    td:nth-of-type(2):before { content: "Members' Ids : "; }
    td:nth-of-type(3):before { content: "Supervisors : "; }
    td:nth-of-type(4):before { content: ""; }
}