.image {
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}
.image3 {
    width: 50%;
    margin-bottom: 100px;
    margin-top:-50px;
}
.reg-head {
    margin-left: 20px;
    margin-top: 30px;
    font-size: 30px;
    color: #3a3a3a;
    font-weight: 500;
}

.tab {
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    margin-top: 50px;
}

.main-div {
    height: 100%;
}

.text-label {
    color: #6d6d6d;
}

.input-div {
    margin-top: -15px;
}

.csv-input {
    padding: 10px;
    display: block;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reg-csv-topic{
    margin-top: -70px;
}

.reg-error{
    color : red ;
    font-size: 10px;
}

.add-member{
    width: 100%;
}
.del-btn{
    color: rgb(83, 83, 83);
    padding-right: 5px;
}

.del-btn:hover{
    color: rgb(214, 0, 0);
    transition: 0.5s;
    cursor: pointer;
}