.group-submission {
    min-height: 300px;
    .prop-sub-title {
        font-size: 17px;
        font-weight: 500;
        color: rgb(56, 56, 56);
    }

    .prop-sub-date{
        font-size: 16px;
        font-weight: 400;
        color: rgb(105, 105, 105);
        font-family: 'Helvetica Neue', Helvetica, Arial;
    }

    .submission-card {
        .card-header {
            background-color: #263238;
            color: white;
            font-size: 18px;
        }
        
    }
    .prop-sub-row{
        margin-top: 10px;
    }
    .prop-sub-attachment{
        color : rgb(0, 174, 255);
    }
}
