.individual-total-progress{
    margin-top: 10px !important;

  .progressbar-col{
    padding-top: 6.4px;
  }
  .gd-progress-value-span{
    font-weight: bold;
    color: #525252;
    font-family: roboto, sans;
  }
}

.gd-progress-users-name{
    font-weight: 500;
    color: #525252;
    font-family: roboto, sans;
}