.spinner {
  margin: auto;
  text-align: center;
}

.sup-main-div {
  min-height: 400px;
}

.sup-topic-div {
  margin-top: 50px;
  margin-bottom: -20px;
}

.tbl-item {
  font-size: 14px;
  font-weight: 500;
  color: rgb(94, 94, 94);
}
