.pg-container-div {
    min-height: 350px;
    margin-bottom: 40px;
}
.pg-dropdown-select {
    margin-top: 20px;
    margin-bottom: 40px;
}
.pg-reg-head {
    color: rgb(75, 75, 75);
    font-weight: 500;
    font-family: roboto, sans;
    font-size: 2em;
    margin-top: 40px;
}
.pg-search-card{
    margin-top: 50px;
}
.pg-details-head {
    color: rgb(75, 75, 75);
    font-weight: 500;
    font-family: roboto, sans;
    font-size: 1.5em;
    margin-top: 10px;
    text-align: center;
}
.pg-table-row:hover {
    cursor: pointer;
    background-color: #fff;
}
.spinner {
    margin: auto;
}
.pg-btn {
    width: 100%;
    margin-top: 20px;
}

/* On screens that are 600px or less, set the background color to olive */

@media screen and (max-width: 500px) {
    .pg-dropdown-select {
        width: 100%;
    }
    .pg-btn {
        width: 100%;
        margin-top: -20px;
        margin-bottom: 20px;
    }
    .pg-reg-head{
        font-size: 30px;
        padding-top: 20px;
        text-align: center;
    }

    .pg-table{
        width: 100%;
        margin-top: 20px;
    }
    .project-groups{

        td:nth-of-type(1):before { content: "Group : "; }
        td:nth-of-type(2):before { content: "Members' Ids : "; }
        td:nth-of-type(3):before { content: "Supervisors : "; }
        td:nth-of-type(4):before { content: ""; }
    }
}