.my-project-details-card-div{
  margin-bottom: 15px;
  padding: 0px 20px;
  .project-details-card{
    margin: 0px 0px
  }
  .project-details-card:hover{
    border: 1.5px solid #263238;
    //margin-bottom: 1px;
    cursor: pointer;
    transform: scale(1.01);
    transition-duration: 0.5s;
  }
  .card-header{
    background-color: #263238;
    color: white;
    font-size: 19px;
  }
  .card-header2{
    background-color: #263238;
    color: #BBB;
    font-size: 19px;
  }
  .card-body{
    background-color: #FBFBFB;
    padding: 40px 25px 40px 0px;
  }
  .circular-progressbar-col{
    padding: 0px 50px 6px 50px;
    display:flex;
    flex-direction: column;
  }
  .my-progress-bar{
    flex:1 1 auto;
  }
  .details-col{
    display:flex;
    flex-direction: column;
    .details-row{
      flex:1 1 auto;
    }
  }


}
@media only screen and  (max-width: 767px){
  .my-project-details-card-div{
    padding: 0px 8px;
    .details-col{
      padding: 0px 40px;
    }
    .card-body{
      padding-bottom: 20px !important;
    }
  }
}