.vmb-req-meeting-card{
    margin-bottom: 20px;
    width: 100%;

}
.view-meetings{

    .vm-name-sup{
        color: #fff;
        font-weight: 500;
        font-size: large;
    }
    .gd-card-header{
        background-color: #263238;
        color: white;
        font-size: 18px;
    }

    .time{
        font-size: 13px;
    }
    .vm-purpose{
        color: rgb(112, 112, 112);
    }
}
