.individual-marks{
  min-height: 660px;
  background-color: #F5F5F5;
  padding-bottom: 30px;

  .div-container{

  }

  .title-div{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px!important;
  }

  .card-div{
  }

  .comments-card{
    padding: 40px 50px;
  }

  .submit-btn {
    width: 60%;
  }

  .btn-div{
    text-align: center;
  }

  .marks-given-text{
    color: green;
  }


}